:root {
    /* BLACK AND GREEN SHADES */
    --black: #020202ff;
    --dark-green: #0d2818ff;
    --pakistan-green: #04471cff;
    --sea-green: #058c42ff;
    --malachite: #16db65ff;

    /* ORANGE WHITE BLACK */
    --coquelicot: #f15025ff;
    --white: #ffffffff;
    --platinum: #e6e8e6ff;
    --timberwolf: #ced0ceff;
    --eerie-black: #191919ff;

    --gunmetal: #223843ff;
    --antiflash-white: #eff1f3ff;
    --timberwolf: #dbd3d8ff;
    --desert-sand: #d8b4a0ff;
    --burnt-sienna: #d77a61ff;

    --primary-color: var(--antiflash-white);
    --secondary-color: var(--antiflash-white);
    --text-color: var(--gunmetal);
    --border-color: #888888;
}

.navbar-brand, .nav-logo {
    margin-left: 1rem;
}

.loggedInAs {
    font-weight: bold;
}

.navbar {
    border-bottom: 2px var(--border-color) solid;
}

.nav-right {
    margin-right: 1rem;
}

p, a, h1, h2, h3, h4, h5, span {
    color: var(--text-color);
}

body {
    background-color: var(--primary-color);
}

/* coauthors.html ||||||||||||||||||||||||||*/
.co-author-reference {
    margin: 1rem;
    border: 1px var(--border-color) solid;
    border-radius: 15px;
    padding: 0.5rem;
}

/* edit_ink.html ||||||||||||||||||||||||||*/
.chapterEditorDiv {
    margin-top: 1rem;
}

.chaptersListEdit {
    width: 242.66px;
}

.editChapterAnchor {
    text-decoration: none;
    color: var(--text-color);
}

.editChapterAnchor:hover {
    opacity: 50%;
}

.inkEditContainer .row {
    margin: 0;
}

.inkEditMainColumn {
    background-color: var(--secondary-color);
    border: 1px var(--border-color) solid;
}

.descriptionEdit {
    width: 100%; 
    box-sizing: border-box; 
    resize: vertical; 
}

/* ink_view.html ||||||||||||||||||||||||||*/
.inkViewContainer .row {
    margin: 0;
}

.inkViewTitleColumn {
    display: flex;
    flex-direction: column;
}

.inkViewButtonsColumn {
    gap: 10px;
}

.inkViewButtonsColumn .btn {
    width: 117px;
    height: 35px;
    margin: 0.5rem;
}

.inkViewContents p {
    text-align: justify;
}

.inkViewContents {
    background-color: var(--secondary-color);
    border: 1px var(--border-color) solid;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    box-shadow: 3px 3px 5px #888888;
}

.chapterTitle {
    font-weight: bold;
}

.chapterListView {
    width: 242.66px;
}

.backToInkView {
    margin: 0.5rem;
}

.comment {
    background-color: var(--secondary-color);
}

.commentContents {
    width: 100%; 
    box-sizing: border-box; 
    resize: vertical; 
}

/* edit_profile.html ||||||||||||||||||||||||||*/
.profile-picture-edit {
    border: 1px var(--border-color) solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.profile-picture-edit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* !!!!!!!!!!!!!! IF FORM ON EDIT_PROFILE ACTS FUNNY THEN ITS BECAUSE OF THE EDIT-PROFILE-FORM CLASS HERE !!!!!!!!!!!!! */
.edit-profile-form form { 
    margin: 1rem;
}

/* followers.html ||||||||||||||||||||||||||*/
.follower-reference {
    margin: 1rem;
    border: 1px var(--border-color) solid;
    border-radius: 15px;
    padding: 0.5rem;
}

/* index.html ||||||||||||||||||||||||||*/
.col-5 {
    border: var(--border-color) 1px solid;
    border-radius: 15%;
    margin: 1rem;
}


.index.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    padding: 1rem;
}

.inkDiv, .notiDiv {
    border: 1px var(--border-color) solid;
    padding: 0.5rem;
}

.notifications-col-style {
    height: 50vh;
    width: 338px;
    overflow-y: auto;
    text-overflow: ellipsis;
    border: var(--border-color) 1px solid;
    border-radius: 5%;
    margin: 1rem;
}

.author-profile-picture {
    border: 1px var(--border-color) solid;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.author-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ink_settings.html ||||||||||||||||||||||*/
.inkSettingRow {
    margin: 1rem;
    border: 1px black solid;
    border-radius: 15px;
    padding: 0.5rem;
}

/* login.html and register.html |||||||||||||||||||||*/
.login-container.container, .register-container.container {
    border: none;
    width: 25%;
}

/* settings.html |||||||||||||||||||||||||| */
.settings-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-button {
    margin: 0.5rem;
    width: 216px;
}

/* newInk.html ||||||||||||||||||||*/
.newInkInfo {
    flex-direction: column;
}

.form-label {
    border: 1.5px var(--border-color) solid;
}

.form-check-input {
    border: 1.5px var(--border-color) solid;
}

/* well.html ||||||||||||||||||||*/
.well {
    height: 300px;
    width: auto;
    border: 2px var(--border-color) solid;
    border-radius: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.well-management {
    display: flex;
    flex-direction: column;
}

/* coAuthorRequest.html ||||||||||||||||||||| */

.request-review-text {
    border: var(--border-color) 1px solid;
    margin: 1rem;
    padding: 1rem;
}