:root {
    /* BLACK AND GREEN SHADES */
    --black: #020202ff;
    --dark-green: #0d2818ff;
    --pakistan-green: #04471cff;
    --sea-green: #058c42ff;
    --malachite: #16db65ff;

    /* ORANGE WHITE BLACK */
    --coquelicot: #f15025ff;
    --white: #ffffffff;
    --platinum: #e6e8e6ff;
    --timberwolf: #ced0ceff;
    --eerie-black: #191919ff;

    --gunmetal: #223843ff;
    --antiflash-white: #eff1f3ff;
    --timberwolf: #dbd3d8ff;
    --desert-sand: #d8b4a0ff;
    --burnt-sienna: #d77a61ff;

    --baby-powder: #fdfffcff;
    --lapis-lazuli: #235789ff;
    --fire-engine-red: #c1292eff;
    --school-bus-yellow: #f1d302ff;
    --raisin-black: #161925ff;

    --khaki: #b7ad99ff;
    --folly: #ff4365ff;
    --black: #030301ff;
    --turquoise: #00d9c0ff;
    --ivory: #fffff3ff;

    --primary-color: var(--antiflash-white);
    --secondary-color: var(--ivory);
    --background-color: var(--ivory);
    --text-color: var(--black);
    --border-color: var(--khaki);
    --button-color: var(--khaki);
}

.navbar-brand, .nav-logo {
    margin-left: 1rem;
}

.loggedInAs {
    font-weight: bold;
}

.navbar {
    border-bottom: 2px var(--border-color) solid;
    width: auto;
}

.nav-right {
    margin-right: 1rem;
}

.nav-link, .navbar-brand {
    color: var(--text-color);
}

p, a, h1, h2, h3, h4, h5, span {
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    margin: 0;
    z-index: 0;
}

.displayDirectionCol {
    display: flex;
    flex-direction: column;
}

.disFdirColAliCen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify-text {
    text-align: justify;
}

.backToInkView, .backToInkWell {
    margin: 0.5rem;
}

.searchInput-style {
    width: auto;
}

@media (max-width: 1200px) {
    /* index.html \\\\\\\\\\\\\\\\\\\ */
    .notifications-style, .authors-style {
        display: none;
    }

    .notifications-col-style, .authors-col {
        border: none;
        width: auto;
        display: none;
    }
}

@media (min-width: 943px) {
    .hiddenChaptersAndInfo .chapterListCol {
        display: none;
    }
}

@media (max-width: 943px) {
    /* ink_view.html ||||||||||||||||||||||||||*/
    .chapterListCol {
        display: none;
    }
    .hiddenChaptersAndInfo .chapterListCol {
        display: block;
    }
    .inkViewContents {
        width: auto;
    }
    .inkViewComments .col-8 {
        width: auto;
    }

    /* edit_ink.html \\\\\\\\\\\\\\\\\\\\\\\\\\\ */
    .inkEditContainer .col-8 {
        width: auto;
    }
    .chaptersListEdit {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-right .nav-item {
        margin-left: 1rem;
        text-align: center;
    }
}

@media (min-width: 642px) {
    .hiddenChaptersAndInfo .inkTitleCardInfo {
        display: none;
    }
}

@media (max-width: 642px){
    /* ink_view.html ||||||||||||||||||||||||||*/
    .inkTitleCard {
        display: flex;
        justify-content: center;
    }
    .inkTitleCard .col {
        display: none;
    }
    .inkViewTitleColumn {
        width: auto;
    }
}

@media (max-width: 530px) {
    /* well.html \\\\\\\\\\\\\\\\\\\\ */
    .well-banner, .well {
        width: 95vw;
    }
    .wellUnderBanner {
        width: 83vw;
    }
}

@media (min-width: 531px) {
    /* well.html \\\\\\\\\\\\\\\\\\\\ */
    .well-banner, .well {
        width: 530px;
    }
    .wellUnderBanner {
        width: 450px;
    }
}

/* coauthors.html ||||||||||||||||||||||||||*/
.coauthors .card {
    width: 250px;
}

/* edit_ink.html ||||||||||||||||||||||||||*/
.editingAsCoAuthorText {
    color: rgb(207, 24, 24);
}

.tag {
    border-radius: 10px;
    background-color: var(--border-color);
    display: inline-block;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 16px;
    margin: 0.2rem;
    font-weight: bold;
}

.tagContainer #chosenTags {
    width: auto;
    min-height: 33px;
}

.tagsEdit-style {
    border: 1px var(--border-color) solid;
}

.draggable {
    cursor: move;
}

.inkEditContainer .row {
    display: flex;
    justify-content: center;
}

.chapterEditorDiv {
    margin-top: 1rem;
}

.chaptersListEdit {
    width: 19rem;
}

.chaptersViewEdit {
    position: sticky;
    top: 2%;
}

.editChapterAnchor {
    text-decoration: none;
    color: var(--text-color);
}

.editChapterAnchor:hover {
    opacity: 50%;
}

.descriptionEdit {
    width: 100%; 
    box-sizing: border-box; 
    resize: vertical; 
}

/* ink_view.html ||||||||||||||||||||||||||*/
.chapterListCol {
    width: 19rem;
}

.chaptersListView {
    position: sticky;
    top: 0px;
}

.chaptersListView button {
    width: 140px;
    height: 35px;
    margin: 0.5rem;
}

.inkViewContainer .row {
    display: flex;
    justify-content: center;
}

.inkViewContents, .inkEditMainCol, .request-review-text {
    background-color: var(--primary-color);
    border: 1px var(--border-color) solid;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    box-shadow: 3px 3px 5px #888888;
}

.inkViewComments {
    margin: 0;
}

.comment {
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    padding: 1rem;
}

.comment p {
    margin: 1rem;
}

.commentContents {
    width: 100%; 
    box-sizing: border-box; 
    resize: vertical; 
}

/* edit_profile.html ||||||||||||||||||||||||||*/
.edit-profile-container {
    padding: 1rem;
}

.profile-picture-edit {
    border: 1px var(--border-color) solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.profile-picture-edit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* !!!!!!!!!!!!!! IF FORM ON EDIT_PROFILE ACTS FUNNY THEN ITS BECAUSE OF THE EDIT-PROFILE-FORM CLASS HERE !!!!!!!!!!!!! */
.edit-profile-form form { 
    margin: 1rem;
}

/* followers.html ||||||||||||||||||||||||||*/
.followersList .card {
    width: 175px;
}

/* index.html ||||||||||||||||||||||||||*/
.indexTimeline {
    background-color: var(--primary-color);
    border-left: var(--border-color) 1.5px solid;
    border-right: var(--border-color) 1.5px solid;
    margin: 1rem;
    width: 43%;
    height: auto;
    padding: 0;
}

.index-footer {
    display: none;
}

@media screen and (max-width: 1200px) {
    .index-footer {
        display: block;
        position: fixed;
        bottom:0;
        left:0;
        width:100%;
        background-color: var(--primary-color);
        border: 1px solid var(--border-color);
    }
}

.index-main-col-btns {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.index-main-col-btns button {
    margin: 0.2rem;
}

.index.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    padding: 1rem;
    margin: 0;
}

.inkPostDiv {
    width: 100%;
    overflow-wrap: break-word;
}

.inkPostDiv, .notiDiv {
    border-top: 1px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    padding: 0.5rem;
}

.notifications-col-style {
    height: 450px;
    width: 300px;
    overflow-y: auto;
    text-overflow: ellipsis;
    border: var(--border-color) 1px solid;
    border-radius: 5%;
    margin: 1rem;
    position: sticky;
    top: 3%;
    padding: 0;
    background-color: var(--primary-color);
}

/* .notifications-col-style::-webkit-scrollbar {
    width: 0;
} */

.author-profile-picture {
    border: 1px var(--border-color) solid;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.author-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.authors-col {
    margin: 1rem;
    width: 315px;
    border: 1px var(--border-color) solid;
    border-radius: 10px;
    background-color: var(--primary-color);
}

/* .authors-btn-style, .notifications-btn-style {
    display: none;
} */

/* ink_settings.html ||||||||||||||||||||||*/

.privatizeInkForm {
    margin: 1rem;
}

/* login.html and register.html |||||||||||||||||||||*/
.login-container.container, .register-container.container {
    border: none;
    width: 25%;
}

/* settings.html |||||||||||||||||||||||||| */
.settings-buttons {
    margin-top: 1rem;
}

.settings-button {
    margin: 0.5rem;
    width: 216px;
}

.settings-buttons button {
    width: 235px;
}

/* newInk.html ||||||||||||||||||||*/
.newInk-description-container .description {
    width: 100%;
}

.newInk-title-input {
    width: 25vh;
}

.newInkInfo {
    flex-direction: column;
}

.newInk-tags {
    width: 75%;
}

.form-label {
    border: 1.5px var(--border-color) solid;
}

.form-check-input {
    border: 1.5px var(--border-color) solid;
}

/* well.html ||||||||||||||||||||*/
.well-col {
    width: auto;
}
.well-banner {
    height: auto;
    border: 1.5px var(--border-color) solid;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.wellUnderBanner {
    height: auto;
    border-left: 3px var(--border-color) solid;
    border-right: 3px var(--border-color) solid;
}

.buttonsWellUnderBanner {
    padding: 1rem;
}

.buttonsWellUnderBanner button {
    margin: 3px;
    width: 225px;
}

.well {
    height: 250px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* coAuthorRequest.html ||||||||||||||||||||| */
.request-review-text {
    border: var(--border-color) 1px solid;
    margin: 1rem;
    padding: 1rem;
}

.coAuthorRequestReviewForm .btn {
    margin: 0.3rem;
}

.added {
    background-color: #aaffaa;
}

.deleted {
    background-color: #ffaaaa;
}

/* coAuthorRequestsList.html \\\\\\\\\\\\\ */
.card {
    width: 316px;
    margin: 1rem;
    background-color: var(--primary-color);
}

.card span, .card a {
    margin-bottom: 1rem;
}

.btn-khaki {
    background-color: var(--button-color);
}

.card-title {
    margin-top:1rem;
}