{% extends "inkwell/layout.html" %}

{% block body %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        coAuthorRequestHighlight();
    });
    
</script>

<style>
    .added {
        background-color: #aaffaa;
    }
    
    .deleted {
            background-color: #ffaaaa;
    }
</style>

<div class="container">
    <div id="originalText">
        <!-- Your original text here -->
        {{originalChapter.chapterContents.html|safe}}
    </div>
    <div id="modifiedText">
        <!-- Your modified text here -->
        {{newChapterContent.chapterContents.html|safe}}
    </div>
    <div id="whatWasDeleted">
        {{originalChapter.chapterContents.html|safe}}
    </div>

    
</div>
{% endblock %}