{% extends "inkwell/layout.html" %}

{% block body %}
<a href="{% url 'well' username=request.user.username %}"><button class="backToInkWell">Back to InkWell</button></a>
<h3 class="text-center">REQUESTS FROM CO-AUTHORS</h3>
<div class="coAuthorRequestsList row d-flex justify-content-center">
    {% for request in requests %}
    <div class="card col-md-4">
        <div class="card-title text-center">
            Request from: {{request.coAuthor}}
        </div>
        <div class="card-body disFdirColAliCen">
            <span>
                {% if request.acceptedStatus %}
                    Status: Accepted
                {% elif request.declinedMessage != "" %}
                    Status: Declined
                {% else %}
                    Status: Pending
                {% endif %}
            </span>
            <span class="text-center">
                Request: change contents of Chapter {{request.requestedChapter.chapterNumber}}: {{request.requestedChapter.chapterTitle}} in <a href="{% url 'ink_view' inkID=request.requestedChapter.chapterInkOrigin.id %}">{{request.requestedChapter.chapterInkOrigin.title}}</a>
            </span>
            <a href="{% url 'coAuthorRequest' chapterID=request.requestedChapter.id requestID=request.id %}"><button class="btn btn-khaki">View changes</button></a>
            <span>Creation date: {{request.requestDate}}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}