{% extends "inkwell/layout.html" %}

{% block body %}

<a href="{% url 'well' username=user.username %}"><button class="backToInkWell">Back to InkWell</button></a>

<h3>People who are co-authors to {{ user }}'s inks</h3>

<div class="coauthors row d-flex justify-content-center">
    {% for coauthor in coauthors %}
    <div class="card col-md-4">
        <div class="coauthor-pfp disFdirColAliCen mt-4">
        {% if coauthor.profilePicture %}
            <img class="author-profile-picture" src="/media/{{coauthor.profilePicture}}">
        {% else %}
            <img class="author-profile-picture" src="/media/no-profile-picture-icon.jpg">
        {% endif %}
        </div>
        <div class="card-body disFdirColAliCen">
            <h5 class="card-title lead">{{ coauthor.username }}</h5>
            <span>Co-author entries: {{ coauthor.acceptedCoAuthorRequests }}</span>
            <a href="{% url 'well' username=coauthor.username %}"><button class="btn btn-khaki">Visit InkWell</button></a>    
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}