{% extends "inkwell/layout.html" %}

{% block body %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        coAuthorRequestHighlight();
    });
    
</script>

<style>
    .added {
        background-color: #aaffaa;
    }
    
    .deleted {
            background-color: #ffaaaa;
    }

    .texts {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
</style>

<div class="container-flex texts">
    <div class="" id="originalText">
        <!-- Your original text here -->
        {{originalChapter.chapterContents.html|safe}}
    </div>
    <div class="" id="modifiedText">
        <!-- Your modified text here -->
        {{newChapterContent.chapterContents.html|safe}}
    </div>
    <div class="" id="whatWasDeleted">
        {{originalChapter.chapterContents.html|safe}}
    </div>

    <form class="form" action="" method="post">
        {% csrf_token %}
        <button class="btn btn-primary">ACCEPT REQUEST</button>
        <button class="btn btn-danger">DECLINE REQUEST</button>
    </form>
    
</div>
{% endblock %}