{% extends "inkwell/layout.html" %}

{% block body %}
    <a href="{% url 'edit_ink' inkID=inkID %}"><button class="backToInkView btn btn-khaki">&larr; Back to editing Ink</button></a>
    <div class="container editChapterFormContainer">
        {% if editingAsCoAuthor %}
            <h5 class="text-center editingAsCoAuthorText">YOU ARE EDITING THIS CHAPTER AS CO-AUTHOR</h5>
        {% endif %}
        <form class="form editChapterForm" action="{% url 'edit_chapter' chapterID=chapterInfo.id inkID=inkID %}" method="post">
            {% csrf_token %}
            {{form.media}}
            <div>
                {% if editingAsCoAuthor %}
                    <h5>Editing Chapter {{ chapterInfo.chapterNumber }}: {{chapterInfo.chapterTitle}}</h5>
                {% else %}
                    <h5>Editing Chapter {{ chapterInfo.chapterNumber }}: {{form.chapterTitle}}</h5>
                {% endif %}
            </div>
            <div>
                {{form.chapterContents}}
                {% if editingAsCoAuthor %}
                    {{form.requestedContentChange}}
                {% endif %}
            </div>
            <div>
                {% if editingAsCoAuthor %}
                    <button class="btn btn-primary" type="submit">Send co-author request</button>
                {% else %}
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    <button class="btn btn-danger" id="deleteChapterBtn" type="submit" name="deleteChapter" style="display: none;">CONFIRM DELETE</button>
                {% endif %}
            </div>
        </form>
        {% if not editingAsCoAuthor %}
        <div>
            <button class="btn btn-danger" id="deleteChapterSwitch" type="button" onclick="deleteChapterSwitch()">Delete Chapter {{ chapterInfo.chapterNumber }}</button>
            <div id="deleteChapterConfirmationDiv" style="display: none;">
                <h5>Are you sure you want to delete Chapter {{ chapterInfo.chapterNumber }}? This change is irreversible.</h5>
                <button class="btn btn-success" type="button" id="keepChapterBtn" onclick="keepChapter()">KEEP CHAPTER</button>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock%}