{% extends "inkwell/layout.html" %}


{% block body %}

    <!-- <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> -->

    <style>
        .chapterEditorDiv {
            margin-top: 1rem;
        }

        .chaptersListEdit, .chaptersNotesEdit {
            background-color: aqua;
        }

        .editChapterAnchor {
            text-decoration: none;
            color: black;
        }

        .editChapterAnchor:hover {
            opacity: 50%;
        }

        .inkEditContainer .row {
            margin: 0;
        }

        .inkEditMainColumn {
            background-color: antiquewhite;
        }

    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const inkID = document.querySelector("#dataInkID").dataset.ink;
            checkTitleAvailability(`${inkID}/checkNewInkTitle`, "messageEditInk", "saveAllChapterChangesBtn");
        })
    </script>
    <div class="container-flex inkEditContainer">
        <div class="row d-flex justify-content-center">
            <div class="col-2 chaptersListEdit">
                <h5>CHAPTERS</h5>
                <ul>
                    {% for chapter in chapters %}
                        <a href="#anchorChapter{{ chapter.chapterNumber }}"><li>Chapter {{ chapter.chapterNumber }}: {{ chapter.chapterTitle }}</li></a>
                    {% endfor %}
                </ul>
                <div class="d-flex justify-content-center">
                    {% if editingAsCoAuthor %}
                        <button class="btn btn-primary" id="addChapterBtn" onclick="addChapter()" disabled>Add Chapter {{ newChapterNum }}</button>
                    {% else %}
                        <button class="btn btn-primary" id="addChapterBtn" onclick="addChapter()">Add Chapter {{ newChapterNum }}</button>
                    {% endif %}
                    <button class="btn btn-danger" id="cancelAddingNewChapter" onclick="cancelAddingNewChapter()" style="display: none;">Cancel</button>
                    <form class="form" id="addChapterForm" style="display: none;" method="post" action="{% url 'addNewChapter' newChapterNumber=newChapterNum inkId=editInk.id %}">
                        {% csrf_token %}
                        <input class="form-label" type="text" name="newChapterTitle" placeholder="Title">
                        <button class="btn btn-primary" type="submit" id="saveNewChapter">Save chapter</button>
                    </form>
                    
                </div>
            </div>
    
            <div class="col-6 inkEditMainColumn">
                <div class="row mb-3 mt-3 d-flex justify-content-center">
                    <div id="dataInkID" data-ink="6"></div>
                    {% if editingAsCoAuthor %}
                        <h5 class="text-center">YOU ARE EDITING THIS INK AS CO-AUTHOR</h5>
                    {% endif %}

                    <form class="form " action="" method="post">
                        <div class="messageEditInk" id="messageEditInk">
                        </div>
                        {% csrf_token %}
                        
                        {% if editingAsCoAuthor %}
                            <h5 class="">Change title:</h5>
                            <input class="form-label title" type="text" id="title" name="title" value="{{ editInk.title }}" disabled>
                            <div class="genresEdit">
                                <label for="genresEdit">Change genre (current genre: {{ editInk.genre }}):</label>
                                <select class="form-label" id="genresEdit" name="genresEdit" disabled>
                                    <option value="Horror">Horror</option>
                                    <option value="Fantasy">Fantasy</option>
                                    <option value="Romance">Romance</option>
                                </select>
                            </div>
                            <div class="col">
                                <h5>Edit description:</h5>
                                <textarea class="form-label descriptionEdit" rows="4" cols="100" name="descriptionEdit" disabled>{{ editInk.description }}</textarea>
                            </div>
                            <button class="btn btn-primary" id="saveAllChapterChangesBtn" disabled>SAVE CHANGES</button>
                        {% else %}
                            <h5 class="">Change title:</h5>
                            <input class="form-label title" type="text" id="title" name="title" value="{{ editInk.title }}">
                            <div class="genresEdit">
                                <label for="genresEdit">Change genre (current genre: {{ editInk.genre }}):</label>
                                <select class="form-label" id="genresEdit" name="genresEdit">
                                    <option value="Horror">Horror</option>
                                    <option value="Fantasy">Fantasy</option>
                                    <option value="Romance">Romance</option>
                                </select>
                            </div>
                            <div class="col">
                                <h5>Edit description:</h5>
                                <textarea class="form-label descriptionEdit" rows="4" cols="100" name="descriptionEdit">{{ editInk.description }}</textarea>
                            </div>
                            <button class="btn btn-primary" id="saveAllChapterChangesBtn">SAVE CHANGES</button>
                        {% endif %}
                    </form>
                </div>

                {% for chapter in chapters %}
                    <div class="chapterEditorDiv" id="anchorChapter{{ chapter.chapterNumber }}">
                        <a class="editChapterAnchor" href="{% url 'edit_chapter' chapterID=chapter.id inkID=editInk.id %}">
                            <h5 class="text-center">Chapter {{ chapter.chapterNumber }}: {{ chapter.chapterTitle }}</h5>
                            <div id="chapterID" data-chapterID="{{ chapter.id }}">
                                {{ chapter.chapterContents.html|safe }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
    
            <div class="col-2 chaptersNotesEdit">
                <h5>Notes</h5>

            </div>

        </div>
    </div>
    
    <!-- <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
        loadQuillEditors();
    });
    </script> -->
  
{% endblock %}