{% extends "inkwell/layout.html" %}

{% block body %}
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <style>
        .editor {
            min-height: 50vh;
        }

        .chaptersEdit {
            background-color: aqua;
        }

        .inkEditContainer .row {
            margin: 0;
        }

        .inkEditFormColumn {
            background-color: antiquewhite;
        }

    </style>
    <div class="container-flex inkEditContainer">
        <div class="row d-flex justify-content-center ">
            <div class="col-2 chaptersEdit">
                <h5>CHAPTERS</h5>
                <ul>
                    {% for chapter in chapters %}
                        <a href=""><li>Chapter {{ chapter.chapterNumber }}: {{ chapter.chapterTitle }}</li></a>
                    {% endfor %}
                </ul>
            </div>
    
            <div class="col-6 inkEditFormColumn">
                <form class="form inkEditForm" action="{% url 'newInk' %}" id="new-post-form">
                    {% csrf_token %}
                    <div class="row mb-3 mt-3">
                        <div class="col inkInfo">
                            <h5 class="">Change title:</h5>
                            <input class="title" type="text" name="title" value="{{ editInk.title }}">
                            <div class="genresEdit">
                                <label for="genresEdit">Change genre:</label>
                                <select id="genresEdit" name="genresEdit">
                                    <option value="Horror">Horror</option>
                                    <option value="Fantasy">Fantasy</option>
                                    <option value="Romance">Romance</option>
                                </select>    
                            </div>
                        </div>
                        <div class="col">
                            <h5>Edit description:</h5>
                            <textarea class="descriptionEdit" rows="4" cols="100" name="descriptionEdit">{{ editInk.description }}</textarea>
                        </div>
                    </div>
                    
                    {% for chapter in chapters %}
                        <h5 class="text-center">{{ chapter.chapterTitle }}</h5>
                        <div class="editor" name="{{ chapter.chapterTitle }}" id="editor">
                            
                        </div>
                    {% endfor %}
        
                    <div class="d-flex justify-content-center mb-3 mt-3">
                        <button class="btn btn-primary" type="submit" id="saveInk">SAVE</button>                
                    </div>
                </form>
            </div>
    
            <div class="col-2 chaptersEdit">
                <h5>Version Control</h5>

    
            </div>

        </div>
    </div>
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
    </script>
  
{% endblock %}