{% extends "inkwell/layout.html" %}

{% block body %}
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <style>
        .editor {
            min-height: 50vh;
        }

    </style>
    <div class="container">
        <form class="form new-ink-form" action="{% url 'newInk' %}" id="new-post-form">
            {% csrf_token %}
            <div class="row mb-3 mt-3">
                <div class="col inkInfo">
                    <h5 class="">Change title:</h5>
                    <input class="title" type="text" name="title">
                    <div class="genresEdit">
                        <label for="genresEdit">Change genre:</label>
                        <select id="genresEdit" name="genresEdit">
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                            <!-- Add more options as needed -->
                        </select>    
                    </div>
                </div>
                <div class="col">
                    <h5>Description:</h5>
                    <textarea class="descriptionEdit" rows="4" cols="100" name="descriptionEdit"></textarea>
                </div>
            </div>

            <div class="editor" name="editor" id="editor">

            </div>

            <div class="d-flex justify-content-center mb-3 mt-3">
                <button class="btn btn-primary" type="submit" id="saveInk">SAVE</button>                
            </div>
        </form>
        
        
    </div>
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
    </script>
  
{% endblock %}