{% extends "inkwell/layout.html" %}

{% block body %}

<a href="{% url 'well' username=request.user.username %}"><button class="backToInkWell">Back to InkWell</button></a>

<div class="container">
    <h3>People who follow {{ followed_user.username }}</h3>
    {% for follower in followers %}
        <div class="row follower-reference">
            <div class="col">
                {{ follower.username }}
            </div>
            <div class="col">
                <a href="{% url 'well' username=follower.username %}"><button class="btn btn-primary">Go to {{ follower.username }}'s InkWell</button></a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}