{% extends "inkwell/layout.html" %}

{% block body %}

<a href="{% url 'well' username=followed_user.username %}"><button class="backToInkWell btn btn-khaki">Back to InkWell</button></a>

<div class="followersList row d-flex justify-content-center">
    <h3>People who follow {{ followed_user.username }}</h3>
    <div class="disFdirColAliCen">
        <form class="form disFdirColAliCen" action="{% url 'searchFollowers' username=followed_user.username %}" method="post">
            {% csrf_token %}
            <input placeholder="Search..." type="text" class="searchInput-style form-control" name="searchFollowersQuery">    
            <button class="btn btn-khaki mt-2" type="submit">SEARCH</button>
        </form>
    </div>
    {% for follower in followers %}
    <div class="card col-md-4">
        <div class="card-body disFdirColAliCen">
            {% if follower.profilePicture %}
                <img class="author-profile-picture" src="/media/{{follower.profilePicture}}">
            {% else %}
                <img class="author-profile-picture" src="/media/no-profile-picture-icon.jpg">
            {% endif %}
            <span class="card-title lead">{{ follower.username }}</span>
            <br>
            <a href="{% url 'well' username=follower.username %}"><button class="btn btn-khaki">Visit InkWell</button></a>
        </div>
    </div>
    {% endfor %}
    <div class="pagination d-flex justify-content-center">
        {% if followers.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ followers.previous_page_number }}">previous</a>
        {% endif %}

        {% for page in pages %}
            {% if page == followers.number %}
            <span class="current">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if followers.has_next %}
            <a href="?page={{ followers.next_page_number }}">next</a>
            <a href="?page={{ followers.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}