{% extends "inkwell/layout.html" %}

{% block body %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        timeline();
        notifications();
    });
</script>

    <div class="row pt-0">
        <div class="col-2 authors-col">
            <div class="authors-style">
                <div class="underline-text popular-authors text-center" id="popularAuthors">
                    <h3>Most popular authors this week</h3>
                    <!-- authors that had the most new followers times the amount of their readers this week -->
                    {% for author in popularAuthors %}
                        <div class="row">
                            <div class="col-1">
                                {% if author.profilePicture %}
                                    <img class="author-profile-picture" src="media/{{ author.profilePicture }}">
                                {% else %}
                                    <img class="author-profile-picture" src="media/no-profile-picture-icon.jpg">
                                {% endif %}
                            </div>
                            <div class="col">
                                <a class="authorLink" href="{% url 'well' username=author.username %}"><h5 class="">{{author.username}}</h5></a>
                                {% if author.followers == 1 %}
                                    <h5 class="lead">{{ author.followers }} follower</h5>
                                {% else %}
                                    <h5 class="lead">{{ author.followers }} followers</h5>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="underline-text top-authors text-center" id="topAuthors">
                    <h3>Top authors this week</h3>
                    <!-- multiply amount of letters written in their inks times amount of accepted co-auhtor requests -->
                    {% for author in topAuthors %}
                        <div class="row">
                            <div class="col-1">
                                {% if author.profilePicture %}
                                    <img class="author-profile-picture" src="media/{{ author.profilePicture }}">
                                {% else %}
                                    <img class="author-profile-picture" src="media/no-profile-picture-icon.jpg">
                                {% endif %}
                            </div>
                            <div class="col">
                                <a class="authorLink" href="{% url 'well' username=author.username %}"><h5 class="">{{author.username}}</h5></a>
                                {% if author.followers == 1 %}
                                    <h5 class="lead">{{ author.followers }} follower</h5>
                                {% else %}
                                    <h5 class="lead">{{ author.followers }} followers</h5>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="underline-text top-co-authors text-center" id="topCoAuthors">
                    <h3>Top co-authors this week</h3>
                    <!-- co-authors that had the biggest amount of accepted edit requests -->
                    {% for author in topCoAuthors %}
                        <div class="row">
                            <div class="col-1">
                                {% if author.profilePicture %}
                                    <img class="author-profile-picture" src="media/{{ author.profilePicture }}">
                                {% else %}
                                    <img class="author-profile-picture" src="media/no-profile-picture-icon.jpg">
                                {% endif %}
                            </div>
                            <div class="col">
                                <a class="authorLink" href="{% url 'well' username=author.username %}"><h5 class="">{{author.username}}</h5></a>
                                {% if author.followers == 1 %}
                                    <h5 class="lead">{{ author.followers }} follower</h5>
                                {% else %}
                                    <h5 class="lead">{{ author.followers }} followers</h5>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="underline-text discover-authors text-center">
                    <h3>Discover</h3>
                    <!-- 20 users are chosen at random -->
                    {% for author in discoverAuthors %}
                        <div class="row">
                            <div class="col-1">
                                {% if author.profilePicture %}
                                    <img class="author-profile-picture" src="media/{{ author.profilePicture }}">
                                {% else %}
                                    <img class="author-profile-picture" src="media/no-profile-picture-icon.jpg">
                                {% endif %}
                            </div>
                            <div class="col">
                                <a class="authorLink" href="{% url 'well' username=author.username %}"><h5 class="">{{author.username}}</h5></a>
                                {% if author.followers == 1 %}
                                    <h5 class="lead">{{ author.followers }} follower</h5>
                                {% else %}
                                    <h5 class="lead">{{ author.followers }} followers</h5>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        

        <div class="col indexTimeline">
            <div class="" id="timeline">
                <!-- Posts generate here -->
            </div>
        </div>

        <div class="notifications-col-style col-2" id="notifications-col">
            <div class="notifications-style">
                <h5 class="text-center mt-2">NOTIFICATIONS</h5>
                <div class="" id="notifications">
                    <!-- Notifications generate here -->
                </div>    
            </div>
        </div>

    </div>

    <div class="row pb-0 pt-0 index-footer">
        <div class="index-main-col-btns">
            <button class="authors-btn-style btn btn-khaki" id="authors-btn" onclick="authorsBtn()">Authors</button>
            <button class="btn btn-khaki" id="mainTimelineBtn">Main Timeline</button>
            <button class="btn btn-khaki" id="followingTimelineBtn">Following</button>
            <button class="notifications-btn-style btn btn-khaki" id="notifications-btn" onclick="notificationsBtn()">Notifications</span></button>
        </div>
    </div>

{% endblock %}