{% extends "inkwell/layout.html" %}

{% block body %}
<style>
    .column {
        border: black 2px solid;
        border-radius: 5%;
        height: 100vh;
        margin: 1rem;
    }
    .index.container-fluid {
        padding: 0;
        margin: 0;
    }
    .row {
        padding: 1rem;
    }
    .line {
        border-bottom: 1px black solid;
        border-width: 50%;
    }
    .underline-text {
        border-bottom: 1px black solid;
    }
    .genre-buttons {
        padding: 1rem;
    }
    .genre-buttons button, .filtering button {
        margin: 0.25rem;
    }
</style>

<script>
    // document.addEventListener("DOMContentLoaded", () => {
    //     index_cols();
    // });
</script>

<div class="index container-fluid">
    <div class="row">

        <div class="column col-3" id="authors-col">
            <div class="genre-buttons">
                <button>Fantasy</button>
                <button>Horror</button>
                <button>Science Fiction</button>
                <button>Thriller</button>
                <button>Romance</button>
                <button>Fan Fiction</button>
            </div>
            <div class="underline-text popular-authors text-center" id="popularAuthors">
                <h3>Most popular authors this week</h3>
                <!-- authors that had the most new followers times amount of readers this week -->
                {% for author in popularAuthors %}
                    <a class="authorLink" href="/well/{{author.username}}"><h5 class="lead">{{author.username}}</h5></a>
                {% endfor %}
            </div>
            
            <div class="underline-text top-authors text-center" id="topAuthors">
                <h3>Top authors this week</h3>
                <!-- multiply amount of letters/words written in their inks
                times amount of co-auhtor requests -->
                {% for author in topAuthors %}
                    <a class="authorLink" href="/well/{{author.username}}"><h5 class="lead">{{author.username}}</h5></a>
                {% endfor %}
            </div>
            
            <div class="underline-text top-co-authors text-center" id="topCoAuthors">
                <h3>Top co-authors this week</h3>
                <!-- co-authors that had the biggest amount of accepted edit requests -->
                {% for author in topCoAuthors %}
                    <a class="authorLink" href="/well/{{author.username}}"><h5 class="lead">{{author.username}}</h5></a>
                {% endfor %}
            </div>
            
            <div class="underline-text discover-authors text-center">
                <h3>Discover</h3>
                <!--  -->
            </div>
            
        </div>

        <div class="column col-5" id="inks-col">
            <div class="container d-flex justify-content-center filtering mt-2">
                <button class="">Main Timeline</button>
                <button class="">Following</button>
            </div>
        </div>

        <div class="column col-3">
            <h5 class="text-center mt-2">NOTIFICATIONS</h5>
        </div>

    </div>
</div>

{% endblock %}