{% extends "inkwell/layout.html" %}

{% block body %}
<style>
    .inkViewContainer .row {
        margin: 0;
    }
    .inkViewTitleColumn {
        display: flex;
        flex-direction: column;
    }
    .inkViewButtonsColumn {
        gap: 10px;
    }
    .inkViewButtonsColumn .btn {
        width: 117px;
        height: 35px;
        margin: 0.5rem;
    }
    .upperRowInkView {
        background-color: aqua;
    }
    .lowerRowInkView {
        background-color: antiquewhite;
    }
    .inkViewContents p {
        text-align: justify;
    }
    .chapterTitle {
        font-weight: bold;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        following_switch();
    });
</script>
<div class="container-flex inkViewContainer">
    <div class="row mt-5 d-flex justify-content-center upperRowInkView">
        <div class="col-2">
            
        </div>
        <div class="col-6 inkViewTitleColumn">
            <h1 class="text-center title">{{ ink.title }}</h1>
            <span class="author-credit text-center">by {{ ink.inkOwner }}</span>
        </div>
        <div class="col-2 inkViewButtonsColumn">
            <a href="{% url 'edit_ink' inkID=ink.id %}"><button class="btn btn-primary">EDIT INK</button></a>
            <form class="form" action="{% url 'ink_view' inkID=ink.id %}" method="post">
                {% csrf_token %}
                <div id="dataInkID" data-inkID="{{ink.id}}"></div>
                <div id="following-check" data-following="{{following_check}}"></div>
                <button class="btn btn-danger" id="followBtn" type="submit" onclick="followInk('followInk')">UNFOLLOW INK</button>
                <button class="btn btn-primary" id="unfollowBtn" type="submit" onclick="followInk('unfollowInk')">FOLLOW INK</button>
            </form>
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center lowerRowInkView">
        <div class="col-2">
            <div class="container">
                <h5 class="text-start">CHAPTERS</h5>
                <ul>
                    {% for chapter in chapters %}
                        <a href="#anchorChapter{{ chapter.chapterNumber }}"><li>Chapter {{ chapter.chapterNumber }}: {{ chapter.chapterTitle }}</li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-6 inkViewContents">
            {% for chapter in chapters %}
            <div id="anchorChapter{{chapter.chapterNumber}}">
                <h5 class="text-center lead chapterTitle">Chapter {{ chapter.chapterNumber}}: {{chapter.chapterTitle}}</h5>
                <p>
                    {{chapter.chapterContents.html|safe}}
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="col-2 inkViewCommentsAndEditNotes">
            <h5 class="text-center">COMMENTS</h5>
        </div>
    </div>

</div>

{% endblock%}