{% extends "inkwell/layout.html" %}

{% block body %}

<a href="{% url 'well' username=request.user.username %}"><button class="backToInkWell btn btn-khaki">&larr; Back to InkWell</button></a>

<div class="inkSettingsRow row d-flex justify-content-center">
    <div class="disFdirColAliCen">
        <form class="form disFdirColAliCen" action="{% url 'searchInkSettings' %}" method="post">
            {% csrf_token %}
            <input placeholder="Search Inks..." type="text" class="searchInput-style form-control" id="searchInput" name="searchInkSettingsQuery">    
            <button class="btn btn-khaki mt-2" type="submit">SEARCH</button>    
        </form>
    </div>
    
    {% if message %}
        <h5 class="text-center m-2">{{ message }}</h5>
    {% endif %}

    {% for ink in inks %}
        <div class="card col-md-4">
            <div class="card-title text-center">
                <h5 class="lead">{{ ink.title }}</h5>
            </div>
            <div class="card-body disFdirColAliCen">
                <form class="form privatizeInkForm disFdirColAliCen" method="post">
                    {% csrf_token %}
                    {% if ink.privateStatus %}
                        <button class="btn btn-khaki" id="makeInkPublic" type="submit" onclick="privatizeInk('{{ink.id}}', 'makePublic')">Make public</button>
                    {% else %}
                        <button class="btn btn-khaki" id="makeInkPrivate" type="submit" onclick="privatizeInk('{{ink.id}}', 'makePrivate')">Make private</button>
                    {% endif %}
                </form>
                <a href="{% url 'ink_view' inkID=ink.id %}"><button class="btn btn-khaki">VIEW INK</button></a>
                <a href="{% url 'edit_ink' inkID=ink.id %}"><button class="btn btn-khaki">EDIT INK</button></a>
                <a href="{% url 'delete_ink' inkID=ink.id %}"><button class="btn btn-danger">DELETE</button></a>    
                <hr>
                <span>Created: {{ ink.creation_date }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}