{% extends "inkwell/layout.html" %}

{% block body %}

<a href="{% url 'well' username=request.user.username %}"><button class="backToInkWell">Back to InkWell</button></a>

<div class="container">
    {% for ink in inks %}
        <div class="row inkSettingRow">
            <div class="col">
                {{ ink.title }}
            </div>
            <div class="col">
                {{ ink.creation_date }}
            </div>
            <div class="col">
                Privacy settings
            </div>
            <div class="col">
                <a href="{% url 'ink_view' inkID=ink.id %}"><button class="btn btn-secondary">VIEW INK</button></a>
            </div>
            <div class="col">
                <a href="{% url 'edit_ink' inkID=ink.id %}"><button class="btn btn-primary" href="">EDIT INK</button></a>
            </div>
            <div class="col">
                <button class="btn btn-danger">DELETE</button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}