{% extends "inkwell/layout.html" %}

{% block body %}
<style>
    .inkViewContainer .row {
        margin: 0;
    }
    .inkViewTitleColumn {
        display: flex;
        flex-direction: column;
    }
    .inkViewButtonsColumn {
        gap: 10px;
    }
    .inkViewButtonsColumn .btn {
        width: 117px;
        height: 35px;
        margin: 0.5rem;
    }
    .upperRowInkView {
        background-color: aqua;
    }
    .lowerRowInkView {
        background-color: antiquewhite;
    }
    .inkViewContents p {
        text-align: justify;
    }
</style>
<div class="container-flex inkViewContainer">
    <div class="row mt-5 d-flex justify-content-center upperRowInkView">
        <div class="col-2">
            
        </div>
        <div class="col-6 inkViewTitleColumn">
            <h1 class="text-center title">{{ ink.title }}</h1>
            <span class="author-credit text-center">by {{ ink.inkOwner }}</span>
        </div>
        <div class="col-2 inkViewButtonsColumn">
            <a href="{% url 'edit_ink' inkID=ink.id %}"><button class="btn btn-primary">EDIT INK</button></a>
            <button class="btn btn-primary">FOLLOW INK</button>
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center lowerRowInkView">
        <div class="col-2">
            <div class="container">
                <h5 class="text-start">CHAPTERS</h5>
                <ul>
                    <li>Chapter 1</li>
                </ul>
            </div>
        </div>
        <div class="col-6 inkViewContents">
            <p>
                {{ ink.content }}
            </p>
        </div>
        <div class="col-2 inkViewCommentsAndEditNotes">
            <h5 class="text-center">COMMENTS</h5>
        </div>

    </div>

</div>

{% endblock%}