{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="{% static 'inkwell/inkwell1.ico' %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{title}}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="{% static 'inkwell/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'inkwell/script.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <img class="nav-logo" src="{% static 'inkwell/inkwell1.ico' %}" width="40px" height="40px">
            <a class="navbar-brand" href="{% url 'index' %}">InkWell</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-start nav-left col">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="nav-link text-center loggedInAs">Logged in as {{request.user.username}}</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'well' username=user.username %}">Your Well</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'newInk' %}">New Ink</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'settings' %}">Account Settings</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav d-flex justify-content-end nav-right col-4">
                    <li class="nav-item">
                        <form class="form" action="{% url 'mainSearch' %}" method="post">
                            {% csrf_token %}
                            <div class="mainSearchFunction">
                                <button class="btn btn-khaki"><i class="fa fa-search"></i></button>
                                <input class="form-control mainSearchQuery-style" placeholder="Search..." type="text" name="mainSearchQuery">    
                            </div>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
          </nav>
        <div class="body">
            {% block body %}
            {% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        </div>
    </body>
</html>