{% extends 'inkwell/layout.html' %}

{% block body %}
<div class="mainSearchContainer row d-flex justify-content-center">
    <h3 class="text-center">Search results:</h3>
    {% for result in results %}
        {% if result.username %}
            <div class="card col-md-4">
                <div class="card-title text-center disFdirColAliCen">
                    {% if result.profilePicture %}
                        <img class="author-profile-picture" src="/media/{{result.profilePicture}}">
                    {% else %}
                        <img class="author-profile-picture" src="/media/no-profile-picture-icon.jpg">
                    {% endif %}
                </div>
                <div class="card-body disFdirColAliCen pt-0">
                    <span class="fw-bold lead m-0">{{ result.username }}</span>
                    <div class="mb-2">
                        Followers: {{ result.followers }}
                    </div>
                    {% if result.mostUsedTags %}
                        <div class="mb-2 mainSearchResultsTags-style">
                            Popular tags:
                            {% for tag in result.mostUsedTags %}
                                <span class="tag">{{tag}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if result.about %}
                        <div class="mb-2">
                            <p>{{ result.about }}</p>
                        </div>
                    {% endif %}
                    <div class="mt-2 mb-3 mainSearch-goToBtn">
                        <a href="{% url 'well' username=result.username %}"><button class="btn btn-khaki">Go to InkWell</button></a>
                    </div>
                </div>
            </div>
        {% elif result.title %}
            <div class="card col-md-4 disFdirColAliCen">
                <div class="card-title text-center">
                    <span class="fw-bold lead mt-0">{{ result.title }}</span>
                    <br>
                    <span>Views: {{ result.views }}</span>
                </div>
                <div class="card-body disFdirColAliCen">
                    {% if result.tags.all %}
                        <div class="mb-2 mainSearchResultsTags-style">
                            Tags:
                            {% for tag in result.tags.all %}
                                <span class="tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if result.description %}
                        <div class="mb-2 mainSearchResultsDescription-style">
                            <p class="text-justify">{{ result.description }}</p>
                        </div>
                    {% endif %}
                    <div class="mt-2 mb-3 mainSearch-goToBtn">
                        <a href="{% url 'ink_view' inkID=result.id %}"><button class="btn btn-khaki">Go to Ink</button></a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="pagination d-flex justify-content-center">
        {% if results.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ results.previous_page_number }}">previous</a>
        {% endif %}

        {% for page in pages %}
            {% if page == results.number %}
            <span class="current">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}">next</a>
            <a href="?page={{ results.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
