{% extends "inkwell/layout.html" %}

{% block body %}
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <style>
        .newInkInfo {
            flex-direction: column;
        }

        .form-label {
            border: 1.5px black solid;
        }

        .form-check-input {
            border: 1.5px black solid;
        }

    </style>
    <div class="container-flex d-flex justify-content-center mt-5">
        <form class="form newInkInfo d-flex justify-content-center" method="post" action="{% url 'newInk' %}" id="new-post-form">
            {% csrf_token %}
            <h5 class="text-center">Title:</h5>
            <input class="title form-label" type="text" name="title">

            <label for="genre">Select a genre:</label>
            <select class="form-label" id="genre" name="genre">
                <option value="Horror">Horror</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Romance">Romance</option>
            </select>
            <div>
                <label class="form-check-label" for="privateStatus">Make Ink private</label>
                <input class="form-check-input" type="checkbox" name="privateStatus">    
            </div>

            <div>
                <h5 class="text-center">Description:</h5>
                <textarea class="form-label description" rows="8" cols="100" name="description" placeholder="Write a short description of your work (max 500 characters)"></textarea>    
            </div>

            <div class="d-flex justify-content-center mb-3 mt-3">
                <button class="btn btn-primary" type="submit" id="createInk">Create Ink</button>                
            </div>
        </form> 
    </div>

  
{% endblock %}