{% extends "inkwell/layout.html" %}

{% block body %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            checkAvailability("0/checkNewInkTitle", "messageNewInk", "createInk", "title");
            updatingTags("#new-post-form");
        });
    </script>
    
    <div class="container p-1 mt-5">
        <form class="form newInkInfo disFdirColAliCen" method="post" action="{% url 'newInk' %}" id="new-post-form">
            {% csrf_token %}
            <h5 class="text-center">Title:</h5>
            <input class="title form-label newInk-title-input" id="title" type="text" name="title">
            <div class="messageNewInk" id="messageNewInk"></div>
            <div>
                <label class="form-check-label" for="privateStatus">Make Ink private</label>
                <input class="form-check-input" type="checkbox" name="privateStatus">
            </div>
            <div id="djangoMessageNewInk">
                {% for message in messages %}
                    <h5>{{message}}</h5>
                {% endfor %}
            </div>

            <div class="tagsEdit-style newInk-tags mt-3" id="tagsEdit">
                <div class="container p-2 pb-0">
                    <div class="tagContainer" id="chosenTags">
                        <h5>Tags:</h5>
                    </div>
                </div>
                <hr>
                <div class="container tagContainer pb-2" id="availableTags">
                    {% for tag in tags %}
                        <div class="draggable tag pd-1" id="tagEdit">
                            <span id="{{ tag.tagName }}">{{ tag.tagName }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input type="hidden" name="tagsData" id="tagDataListField" value="">

            

            <div class="newInk-description-container p-3">
                <h5 class="text-center">Description:</h5>
                <textarea class="form-label description" rows="8" cols="100" name="description" placeholder="Write a short description of your work (max 500 characters)"></textarea>    
            </div>

            <button class="btn btn-primary" type="submit" id="createInk">Create Ink</button>                
        </form> 
    </div>

  
{% endblock %}