{% extends "inkwell/layout.html" %}

{% block body %}

    
    <div class="container">
        <div class="form">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                <div class="form-label">
                    <input autofocus class="form-control" type="password" name="oldPassword_confirm" placeholder="Confirm your old password">
                </div>
                <div class="form-label">
                    <input class="form-control" type="password" name="new_password" placeholder="New password">
                </div>
                <div class="form-label">
                    <input class="form-control" type="password" name="newPassword_confirm" placeholder="Confirm new password">
                </div>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Change password">
                </div>
            </form>
        </div>
    </div>

{% endblock %}