{% extends "inkwell/layout.html" %}

{% block body %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        checkAvailability("checkNewUsername", "messageNewUsername", "changeUsernameBtn", "newUsernameInput");
    });
</script>

    <div class="container mt-5" style="width: 300px;">
        <div class="form">
            <form action="{% url 'username_change' %}" method="post">
                {% csrf_token %}
                <div class="form-label">
                    <input class="form-control" id="newUsernameInput" type="text" name="new_username" placeholder="Enter your new username">
                </div>
                <div class="messageNewUsername" id="messageNewUsername">
                    {% if message %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}    
                </div>    
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" id="changeUsernameBtn" value="Change username">
                </div>
            </form>
        </div>
    </div>

{% endblock %}