{% extends "inkwell/layout.html" %}

{% block body %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        following_switch();
    });
</script>

<div class="container">
    {% if wellOwner == request.user %}
        <h5>Your well</h5>
    {% else %}
        <h5 id="well-username" data-name="{{ wellOwner }}">{{ wellOwner }}'s well</h5>
    {% endif %}
    <div class="profileAboutMe">
        <h5>About me:</h5>
        <p>{{ wellOwner.about }}</p>
    </div>
    <h5><a href="{% url 'followers' username=wellOwner %}">Followers</a>: {{ followers }}</h5>
    <h5><a href="{% url 'coauthors' username=wellOwner %}">Co-authors</a>: {{ coAuthors }}</h5>
    <div id="following-check" data-following="{{ followCheck }}"></div>
    <h5>Available inks: {{ ink_number }}</h5>
    {% if wellOwner == request.user %}
        <a href="{% url 'ink_settings' %}">Manage your inks</a>
        <a href="{% url 'coAuthorRequestsList' %}">View requests from co-authors</a>
        <a href="{% url 'yourCoAuthorRequests' %}">View your pending co-author requests</a>
    {% else %}
        <button class="btn btn-primary" id="followBtn" onclick="follow('follow')">Follow</button>
        <button class="btn btn-primary" id="unfollowBtn" onclick="follow('unfollow')">Unfollow</button>
    {% endif %}
</div>

<div class="container">
    <div id="well" class="well">
        {% for ink in inks %}
            <a href="{% url 'ink_view' inkID=ink.id %}">{{ink.title}}</a>
        {% endfor %}
    </div>
</div>


{% endblock %}