{% extends "inkwell/layout.html" %}

{% block body %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        following_switch();
    });
</script>

<div class="well-col disFdirColAliCen mt-5">

    <div class="well-banner disFdirColAliCen">
        {% if wellOwner.profilePicture %}
            <img class="author-profile-picture" src="/media/{{wellOwner.profilePicture}}">
        {% else %}
            <img class="author-profile-picture" src="/media/no-profile-picture-icon.jpg">
        {% endif %}
        <h2 class="text-center" id="well-username" data-name="{{ wellOwner }}">{{ wellOwner }}'s InkWell</h2>

        <div class="profileAboutMe">
            <h5>About {{ wellOwner }}:</h5>
            <p>{{ wellOwner.about }}</p>
        </div>

        <h5><a href="{% url 'followers' username=wellOwner %}">Followers</a>: {{ followers }}</h5>
        <h5><a href="{% url 'coauthors' username=wellOwner %}">Co-authors</a>: {{ coAuthors }}</h5>
        <h5>Available inks: {{ ink_number }}</h5>
    </div>

    <div class="wellUnderBanner disFdirColAliCen">
        <div class="buttonsWellUnderBanner">
            {% if request.user.is_authenticated %}
                {% if wellOwner == request.user %}
                <div class="well-management disFdirColAliCen">
                    <a href="{% url 'ink_settings' %}"><button class="btn btn-khaki">Manage your inks</button></a>
                    <a href="{% url 'coAuthorRequestsList' %}"><button class="btn btn-khaki">Requests from co-authors</button></a>
                    <a href="{% url 'yourCoAuthorRequests' %}"><button class="btn btn-khaki">Pending co-author requests</button></a>    
                </div>
                {% else %}
                    {% if followCheck %}
                        <button class="btn btn-secondary" id="unfollowBtn" onclick="follow('unfollow')">Unfollow</button>
                    {% else %}
                        <button class="btn btn-primary" id="followBtn" onclick="follow('follow')">Follow</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    
    <div class="well" id="well">
        <div class="inksInWell disFdirColAliCen">
            {% for ink in inks %}
                <a href="{% url 'ink_view' inkID=ink.id %}">{{ink.title}}</a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}