{% extends "inkwell/layout.html" %}

{% block body %}
<a href="{% url 'well' username=request.user.username %}"><button class="backToInkWell btn btn-khaki">&larr; Back to InkWell</button></a>
<div class="yourCoAuthorRequests row d-flex justify-content-center">
    <h3 class="text-center">YOUR CO-AUTHOR REQUESTS</h3>
    <div class="disFdirColAliCen">
        <form class="form disFdirColAliCen" action="{% url 'searchYourCoAuthorRequests' %}" method="post">
            {% csrf_token %}
            <input placeholder="Search..." type="text" class="searchInput-style form-control" name="searchYourRequestsQuery">
            <button class="btn btn-khaki mt-2" type="submit">SEARCH</button>
        </form>
    </div>
    {% for request in yourRequests %}
    <div class="card col-md-4">
        <div class="card-title text-center">
            Request to: {{request.requestedChapter.chapterInkOrigin.inkOwner.username}}
        </div>    
        <div class="card-body disFdirColAliCen">
            {% if request.acceptedStatus %}
                <span>Status: <span style="color: #28a745;">Accepted</span></span>
            {% elif request.declinedMessage != "" %}
                <span>Status: <span style="color: #dc3545;">Declined</span></span>
            {% else %}
                <span>Status: <span style="color: #b7ad99ff;">Pending</span></span>
            {% endif %}
            <span class="text-center">
                Request: change contents of Chapter {{request.requestedChapter.chapterNumber}}: {{request.requestedChapter.chapterTitle}} in <a href="{% url 'ink_view' inkID=request.requestedChapter.chapterInkOrigin.id %}">{{request.requestedChapter.chapterInkOrigin.title}}</a>
            </span>
            <a href="{% url 'coAuthorRequest' chapterID=request.requestedChapter.id requestID=request.id %}"><button class="btn btn-khaki">View changes</button></a>
            <span>Creation date: {{request.requestDate}}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}